@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}


.banner{
        background-image: 
        radial-gradient(circle at center, #0d2b47 0%, #000000 100%),
        url(./assets/images/banner.png);
    object-fit: scale-down;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-content{
    background-image: url(./assets/images/banner.png);
}

.logo{
    background-color: #0000005e;
    display: flex;
    border-radius: 100%;
    width: 21%;
    margin-left: 30vw;
    margin-top: -10vh;
    margin-bottom: 20px;
    padding: 20px;
}

.banner-content h1{
color:#1e8fe0;
font-size: 40px;
font-weight: bold;
font-family: 'Roboto';
padding-bottom: 10px;
}

.banner-content p{
color:#ffffff;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
width: 46%;
margin-left: 28%;
padding-bottom: 20px;
}

.banner-content{
    text-align: center;
    padding: 140px;
}

.banner-content button{
    color: #1f8edd;
    border-color: #1e8fe0;
    background-color: #ffffff00;
    font-size: 20px;
    padding: 15px;
    width: 40vh;
    font-family: "Raleway";
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s;
}

.banner-content button:hover{
    transform:scale(1.1) ;
}

.banner-content button a{
    text-decoration: none;
    color: #1e8fe0;
}

#course-content{
    background-color: black;
    text-align: center;
    padding: 140px;
    border-top: solid 1px #1974b4;
    border-bottom: solid 1px #1974b4;
}

#course-content h2{
    color: #1f8edd;
    font-family: "Raleway";
    font-size: 4vh;
    padding-bottom: 20px;
    margin-top: -5%;
}

#course-content p{
color:#ffffff;
font-size: 2vh;
width: 70%;
margin-left: 10vw;
font-family: Arial, Helvetica, sans-serif;
padding-bottom: 20px;
}


.module{
    background-color: rgb(72, 73, 73);
    padding: 20px;
    margin-top: 5vh;
    width: 60%;
    margin-left: 15vw;
    border: 2px solid #1974b4;
    border-radius: 25px;
    font-family: "Raleway";
    color: white;
    transition: transform 0.5s;
}

.module span{
    color: #1f8edd;
}

.module:hover{
    transform: scale(1.1);
}

#transform-world{
    background-image: url(./assets/images/woman-code.png);
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px;
    background-color: #000000;

}

#transform-world p{
   font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: white;
    text-align: start;

    text-shadow:
  3px 2px 0 #1974b4; /* sombra deslocada azul clara */
}

#professional-challenges{
    background-color: black;
    text-align: center;
    padding: 140px;
    border-top: solid 1px #1974b4;
    border-bottom: solid 1px #1974b4;
}

#professional-challenges h2{
    color: #1f8edd;
    font-family: "Raleway";
    font-size: 4vh;
    padding-bottom: 20px;
    margin-top: -5%;
}

#professional-challenges p{
color:#ffffff;
font-size: 2vh;
width: 70%;
margin-left: 10vw;
font-family: Arial, Helvetica, sans-serif;
padding-bottom: 20px;
}

#professional-challenges img{
    padding-bottom: 20px;
    transition: transform 0.5s;
}

#professional-challenges img:hover{
    transform: scale(1.1);
}

footer{
    padding: 50px;
    background: linear-gradient(to bottom, #000000, #0a2a3c);
    text-align: center;
    color: white;
    font-family: 'Raleway';
}

footer a{
    color: #1e8fe0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s;
}

footer a:hover{
    color: #e7d003;
}